.bg-gradient-button-whatsapp {
  background-color: rgb(31, 54, 29);

  background-image:
    radial-gradient(at 0% 0%, rgb(34, 143, 41) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(10, 146, 19) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(39, 126, 36) 0, transparent 50%),
    radial-gradient(at 50% 100%, rgb(48, 150, 48) 0, transparent 50%);

  background-size: 200% 200%;
  background-position: 0% 0%;

  animation: mesh-flow-secondary 8s ease-in-out infinite alternate;

  transition:
    scale 0.3s ease,
    background-size 0.8s ease,
    background-color 0.8s ease,
    filter 0.8s ease;

  &:hover {
    background-color: rgb(10, 146, 19);

    background-size: 300% 300%;
    filter: saturate(1.1) brightness(1.05);
  }

  &:active {
    background-color: rgb(25, 94, 25);
    background-size: 300% 300%;
    filter: saturate(1.1) brightness(1.05);
  }
}

@keyframes mesh-flow-secondary {
  0% {
    background-position: 0% 0%;
  }

  33% {
    background-position: 100% 30%;
  }

  66% {
    background-position: 20% 100%;
  }

  100% {
    background-position: 80% 50%;
  }
}

.faq-wrapper {
  position: relative;
}

.faq-wrapper::after {
  content: '';

  position: absolute;

  right: 0;
  bottom: 0;

  width: 4rem;
  height: 4rem;

  border-bottom-right-radius: 1.25rem;

  box-shadow: 1.25rem 1.25rem 0 1.25rem #cdcddd;

  pointer-events: none;
}

@media (min-width: 768px) {
  .faq-wrapper::after {
    width: 6rem;
    height: 6rem;

    border-bottom-right-radius: 2.5rem;

    box-shadow: 2.5rem 2.5rem 0 2.5rem #cdcddd;
  }
}

@media (min-width: 1920px) {
  .faq-wrapper::after {
    width: 4.167vw;
    height: 4.167vw;

    border-bottom-right-radius: 2.083vw;

    box-shadow: 2.083vw 2.083vw 0 2.083vw #cdcddd;
  }
}
