.media-default-skin--video {
  border: none !important;

  video {
    object-fit: cover !important;
  }

  .media-controls {
    border-radius: 1.25rem !important;
  }

  .media-button--seek,
  .media-button--playback-rate,
  .media-button--pip {
    display: none !important;
  }

  &:after {
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  &:focus-visible {
    outline-color: transparent !important;
  }

  @media (width >= 23.4375rem) {
    .media-controls .media-button-group:first-child,
    .media-controls .media-button-group:last-child {
      flex: none !important;
    }

    .media-controls .media-time-controls {
      flex: auto !important;
      order: 0 !important;
    }
  }

  @media (width >= 48rem) {
    .media-controls {
      inset-inline: 1.75rem !important;
      bottom: 1.75rem !important;
    }
  }

  @media (width >= 120rem) {
    * {
      font-size: 0.834vw !important;
    }

    .media-controls {
      bottom: 0.938vw !important;
      inset-inline: 0.938vw !important;
      border-radius: 999vw !important;
      padding: 0.21vw !important;
    }

    .media-time-controls {
      gap: 0.625vw !important;
      padding-inline: 0.525vw !important;
    }

    .media-button-group {
      gap: 0.105vw !important;
    }

    .media-button--icon {
      width: 1.875vw !important;
    }

    .media-slider[data-orientation='horizontal'] {
      height: 1.667vw;

      .media-slider__track {
        height: 0.209vw;
      }
    }

    .media-slider__thumb {
      width: 0.521vw !important;
      height: 0.521vw !important;
      opacity: 1 !important;
    }

    .media-button svg {
      width: 0.938vw !important;
      height: 0.938vw !important;
    }
  }
}
