.media-default-skin--video {
  border: none !important;
}

.media-default-skin--video:after {
  border-radius: none !important;
  box-shadow: none !important;
}

.media-default-skin video {
  object-fit: cover !important;
}

.media-default-skin:focus-visible {
  outline-color: transp !important;
}

.media-default-skin .media-controls {
  border-radius: 1.25rem !important;

  @media (width >= 48rem) {
    bottom: 1.5rem !important;
    inset-inline: 1.5rem !important;
  }

  @media (width >= 64rem) {
    bottom: 1.5rem !important;
    inset-inline: 1.5rem !important;
  }

  @media (width >= 120rem) {
    bottom: 0.938vw !important;
    inset-inline: 0.938vw !important;
    border-radius: 999vw !important;
  }
}
.media-default-skin .media-slider[data-orientation='horizontal'] {
  @media (width >= 120rem) {
    height: 1.667vw;

    .media-slider__track {
      height: 0.209vw;
    }
  }
}
