.hero__background {
  background-position: 70% 16%;
  background-size: 500%;
  background-repeat: no-repeat;

  &::before {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: -10;
    background-size:
      100% 100%,
      160% 160%;
    background-repeat: no-repeat;
    content: '';
  }

  @media (min-width: 375px) {
    background-position: 65%, 20%;
    background-size: cover;
  }

  @media (min-width: 425px) {
    background-position: 60% 30%;
    background-size: cover;

    &::before {
      background-size:
        100% 100%,
        140% 200%;
    }
  }

  @media (min-width: 768px) {
    background-position: 45%, 26%;
    background-size: cover;

    &::before {
      background-size:
        100% 100%,
        170% 200%;
    }
  }

  @media (min-width: 1024px) {
    background-size: cover;

    &::before {
      background-size:
        100% 100%,
        130% 200%;
    }
  }

  @media (min-width: 1440px) {
    background-size: cover;
    background-position: right;

    &::before {
      background-size:
        100% 100%,
        100% 100%;
    }
  }
}

.bg-gradient-button-primary {
  --button-bg-base: rgba(99, 75, 26, 1);

  --button-bg-hover: rgba(212, 175, 55, 1);

  --button-bg-active: rgba(173, 145, 42, 1);

  --button-gradient-1: rgba(173, 145, 42, 1);

  --button-gradient-2: rgba(212, 175, 55, 1);

  --button-gradient-3: rgba(173, 145, 42, 1);

  --button-gradient-4: rgba(212, 175, 55, 1);
}
