@import 'tailwindcss';

@theme inline {
  --color-slate-950: #1d1e2c;
  --color-slate-300: #cdcddd;
  --color-slate-200: #dbdce0;

  --background-image-gradient-header: linear-gradient(
    87deg,
    rgba(29, 30, 44, 1) 0%,
    rgba(46, 46, 76, 0.87) 24%,
    rgba(124, 116, 218, 0.29) 61%,
    rgba(124, 116, 218, 0) 100%
  );

  --background-image-gradient-hero-section-bg-overlay:
    radial-gradient(
      100% 100% at 0% 0%,
      rgba(124, 116, 218, 0.5) 0%,
      rgba(124, 116, 218, 0.13) 30%,
      rgba(124, 116, 218, 0) 61%
    ),
    linear-gradient(
      90deg,
      rgba(29, 30, 44, 1) 30%,
      rgba(29, 30, 44, 0.86) 40%,
      rgba(29, 30, 44, 0.63) 48%,
      rgba(29, 30, 44, 0) 57%
    );

  --background-image-gradient-carousel: linear-gradient(
    85deg,
    rgba(29, 30, 44, 1) 22%,
    rgba(124, 116, 218, 0.25) 50%,
    rgba(124, 116, 218, 0) 69%
  );

  --background-image-gradient-about: linear-gradient(
    150deg,
    rgba(29, 30, 44, 1) 80%,
    rgba(124, 116, 218, 0.25) 99%,
    rgba(124, 116, 218, 0) 100%
  );

  --background-image-gradient-card: linear-gradient(
    180deg,
    rgba(29, 30, 44, 0) 0%,
    rgba(29, 30, 44, 0.86) 80%
  );

  --background-image-gradient-accordion: linear-gradient(
    90deg,
    rgba(29, 30, 44, 1) 0%,
    rgba(96, 100, 146, 1) 100%
  );

  --background-image-gradient-text: linear-gradient(
    180deg,
    rgba(29, 30, 44, 1) 0%,
    rgba(83, 82, 125, 1) 66%,
    rgba(205, 205, 221, 1) 100%
  );

  /* --background-image-gradient-button-secondary: linear-gradient(
    90deg,
    rgba(113, 83, 41, 1) 29%,
    rgba(163, 115, 39, 1) 53%,
    rgba(113, 83, 41, 1) 80%,
    rgba(29, 30, 44, 1) 100%
  ); */

  /* --background-image-gradient-button-whatsapp: linear-gradient(
    90deg,
    rgba(29, 30, 44, 1) 0%,
    rgba(74, 176, 81, 0.85) 100%
  ); */

  --breakpoint-xs: 23.4375rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120rem;

  --infinite-carousel-duration: 40s;
}

@layer base {
  body {
    @apply font-light;

    button {
      @apply cursor-pointer;
    }

    &::-webkit-scrollbar {
      width: 10px;
      transition: all 3s ease-in-out;

      @media (min-width: 1992px) {
        width: 0.56vw;
      }
    }

    &::-webkit-scrollbar-track {
      background: #9c9ca7;
    }

    &::-webkit-scrollbar-thumb {
      background: #1d1e2c;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease-in-out;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #1d1e2cda;
    }

    * {
      scrollbar-width: thin;
      scrollbar-color: #1d1e2c #9c9ca7;
    }
  }
}

@layer utilities {
  .transition-default {
    @apply transition duration-300 ease-in-out;
  }
}
